{% extends '/views/templates/base.html.twig' %}

{% block header %}
	{{ header }}
{% endblock %}

{% block main_content %}
	<section class="feature-sidebar spark-region">
		{{ sidebar }}
	</section>
	<section class="page-content spark-region">
		{{ page }}
	</section>
{% endblock %}