{% extends '/views/templates/base.html.twig' %}

{% block header %}
	{{ header }}
{% endblock %}

{% block main_content %}
<div class="spark-region feature-content">
	{{ sidebar }}
	{{ content }}
</div>
{% endblock %}