

// Mixins
@mixin biopreview{
	.bio-left{
		img{ float: left; margin-bottom: 21em; margin-right: 1em; border: 3px solid $red; width: 100px; height: auto; }
	}
}

@mixin pagecontent {
	@include maintext;
	font-size: 14px;
	line-height: 1.5em;

	p{
		margin-bottom: 1em;
	}

	h1 {
		margin: 1em 0;
	}

	h2 {
		margin-bottom: 1em;
	}

	h3{
		color: $red; 
		font-weight: bold;	
		font-size: 14px;
		text-transform: uppercase;
		margin-bottom: 1em; 
	}

	h4{
		color: black; 
		font-size: 14px;
		font-weight: bold;
	}
	h5{
		font-weight: bold;
	}
	h5, h6{
		color: $red;
		font-size: 12px;
	}

	//List Style
	ul{
		margin-top: 10px;
		li{
			list-style-type: disc;
			list-style-position: outside;
			margin-left: 20px;
		}
	}

	.script-text{
		@include scripttext;
		margin-right: .25em;
	}
	.gray-script-text{
		@include scripttext;
		color: $darkGray;
	}
	.large-red{
		font-weight: bold;
		color: $red;
	}

	.red-circle {
		position: relative;
		display: block;
		width: 170px;
		height: 170px;
		margin: auto;
		margin-top: 1em;
		background: $red;
		color: white;
		text-align: center;
		padding: 50px 30px;
		border-radius: 50%;
		@include sparkRadialGradient($darkRed, $red);
		.script-text{
			color: white;
			font-size: 40px;
		}
		a{
			color: white;
		}
	}

	.float-right{
		float: right;
		display: inline-block;
		width: 40%;
	}

	.testimonial {
		em { color: $red; }
	}

	.bio-left {
		clear: both;
	}

	.accordion {
		margin-bottom: 1em;
		.panel-title { 
			margin-bottom: 0; 
			line-height: 1em;
			font-weight: normal;
			text-transform: none;
			a.active, a:hover{
				color: $red;
			}
		}
		.panel-content { margin-top: 1em; }
		br { display: none; }
	}

	#accept_paypal_payment_form {
		@include maintext;
		br { display: none;}
		input, select, strong { 
			display: block; 
			clear: both;
			margin-bottom: 5px;
		}
	}

	@include biopreview;

	@media screen and ("max-width: 767px"){
		.feature-sidebar{
			width: 36.67%;
		}
	}
}

@mixin inline-nav{
	li{
		display: inline-block;
		padding: 5px;
		margin-right: .25em;
	}
}

@mixin columns( $count ) {
	-webkit-columns: 	$count;
   -moz-columns: 		$count;
        columns:	 	$count;
}