
$text:  Helvetica, Arial, sans-serif;
$scripttext: "bickham-script-pro";

@mixin maintext{
	color: $darkGray;
	font-family: $text; 
} 

@mixin boldheader {
	color: $red;
	font-weight: bold;
	text-transform: uppercase;
}

@mixin scripttext{
	color: $red;
	font-family: $scripttext;
	font-size: 40px;
}

@mixin greyscripttext {
	@include scripttext;
	color: $darkGray;
}

@mixin scriptheader{
	@include scripttext;
	font-size: 55px; 
	text-align: center;
}

@mixin navtext {
	color: white;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 16px;
}

@mixin columns( $count ) {
	-webkit-columns: 	$count;
   -moz-columns: 		$count;
        columns:	 	$count;
}